# 4.6 Combining and exporting data

## STEP 3

#### Import Data

In [6]:
import pandas as pd
import numpy as np
import os

In [10]:
df_merged_large = pd.read_pickle(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

### STEP 4

#### Checking orders the shape and head

In [14]:
df_merged_large.shape

(32434489, 10)

In [35]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,Placing_orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

### STEP 5

### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

#### Import Products DF

In [21]:
df_prods_clean_no_dups = pd.read_csv(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Prepared Data\products_cleaned1.csv', index_col = False)

#### Checking products head and shape

In [30]:
df_prods_clean_no_dups.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [32]:
df_prods_clean_no_dups.shape

(49672, 5)

#### Merging Dataframes

In [39]:
ords_prods_merge = df_merged_large.merge(df_prods_clean_no_dups, on = 'product_id', indicator='merge_flag')

#### Checking new DF

In [43]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,Placing_orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,merge_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [45]:
ords_prods_merge['merge_flag'].value_counts()

merge_flag
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [47]:
ords_prods_merge.shape

(32404859, 15)

#### Check of missing rows

In [50]:
missing_products = df_merged_large[~df_merged_large['product_id'].isin(df_prods_clean_no_dups['product_id'])]
print(missing_products.shape)

(30200, 10)

In [52]:
missing_products.head()

,order_id,user_id,order_number,orders_day_of_week,Placing_orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
2963,7099,27,63,3,10,1.0,6799,1,0,both
3205,1837192,27,80,2,8,6.0,6799,9,1,both
3253,3331846,28,3,0,16,2.0,34,6,0,both
3395,1385910,28,21,2,17,1.0,34,1,1,both
4694,2873174,38,1,0,10,NaN,116,11,0,both

#### Merging with 'how left' to include all the missing data

In [54]:
ords_prods_merge = df_merged_large.merge(df_prods_clean_no_dups, on='product_id', how='left', indicator='merge_flag')

### STEP 6

#### Confirm the results with merge flag data

In [58]:
ords_prods_merge['merge_flag'].value_counts()

merge_flag
both          32404859
left_only        30200
right_only           0
Name: count, dtype: int64

### STEP 7

#### Export Dataframe

In [60]:
ords_prods_merge.to_pickle(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge_final.pkl')