# 4.6 Combining and exporting data

## STEP 1

### Import libraries

In [3]:
import pandas as pd
import numpy as np
import os

#### Import Data

In [7]:
    df_ords_prior = pd.read_csv(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Original Data\4.6_orders_products_prior\orders_products_prior.csv', index_col = False)

In [13]:
orders_cleaned1 = pd.read_csv(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned1.csv', index_col = False)

#### Checking dataframes

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [47]:
orders_cleaned1.head()

,order_id,user_id,order_number,orders_day_of_week,Placing_orders_time,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

#### Dataframe dimensions

In [53]:
orders_cleaned1.shape

(3421083, 6)

In [55]:
df_ords_prior.shape

(32434489, 4)

In [61]:
df_ords = orders_cleaned1

#### Merging Dataframes

In [63]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [66]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,Placing_orders_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [68]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### STEP 2

#### Export Dataframe as Pickle

In [72]:
df_merged_large.to_pickle(r'C:\Users\PC\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')